OPENAI_API_KEY=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
ELEVENLABS_API_KEY=sk_7e70347d2460ec873da1a58b9d68078391af29f1e983bb17
PORT=3001
MONGODB_URI=mongodb://localhost:27017/birthday-song-app
